<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dishcuss.foodie.hub">


    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
        android:name="com.dishcuss.foodie.hub.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.dishcuss.foodie.hub.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    <!-- Pic Selection and Upload -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:name="com.dishcuss.foodie.hub.Utils.DishCussApplication"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">


        <activity android:name="com.dishcuss.foodie.hub.Activities.SplashActivity"
            android:theme="@style/MySplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.dishcuss.foodie.hub.Activities.FindEatBuddiesLoginFirstActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.Activities.FriendsList"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.Activities.LoginActivity"
            android:theme="@style/MySplashTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.dishcuss.foodie.hub.Activities.SignInActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.dishcuss.foodie.hub.Activities.SignupActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

         <activity
            android:name="com.dishcuss.foodie.hub.Activities.EmailConfirmationActivity"
            android:theme="@style/MyMaterialTheme"
             android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.Activities.SelectRestaurantActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.Activities.PostDetailActivity"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.Activities.NotificationClickPostDetail"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.Activities.ReplyActivity"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.Activities.BookmarkActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.Activities.ExploreSelectedCategoryActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.Activities.SelectRestaurantSearchActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.dishcuss.foodie.hub.ExtraHelpingClasses.SearchMainActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.Activities.SearchUserAndRestaurantActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.dishcuss.foodie.hub.Chat.ChatScreenActivity"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>


        <activity
            android:name="com.dishcuss.foodie.hub.Activities.NotificationActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.Activities.HomeActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.dishcuss.foodie.hub.Activities.RestaurantDetailActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="http"
                    android:host="dishcuss.pk"
                    android:pathPrefix="/r/" ></data>
            </intent-filter>

            </activity>

        <activity
            android:name="com.dishcuss.foodie.hub.Activities.UpdateProfileActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.Activities.UserImagesActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.Activities.GetFreeFoodActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.Activities.ScanQRCodeActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.Activities.ProfilesDetailActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.Activities.UserOffersActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.Activities.FindYourEatBuddiesActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.Activities.KhabaHistoryActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.Activities.MyWalletActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.Activities.StatusActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.Posts.WriteReviewPostActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.ExtraHelpingClasses.CheckInPostActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.Posts.CheckIn"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.Posts.PhotoUpload"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.Posts.SelectAndCropPictureActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.Activities.SelectImage"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.ExtraHelpingClasses.CheckInPostGoogleApiActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.ExtraHelpingClasses.PhotoPostActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>

        <!--<activity-->
            <!--android:name=".Activities.StatusActivity"-->
            <!--android:theme="@style/Theme.Transparent"/>-->

        <activity
            android:name="com.dishcuss.foodie.hub.Posts.PostSelectionActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.Activities.PhotoDetailActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.dishcuss.foodie.hub.Activities.PunditSelectionActivity"
            android:theme="@style/MyMaterialTheme"
            android:screenOrientation="portrait"/>


        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value=
                "@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_id"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="80eafe8e17874d3e025e50743e1de478e8ecb5df" />



        <!--GCM SERVICES-->

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.agilesoft.travel" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->

        <!-- [START gcm_listener] -->
        <service
            android:name="com.dishcuss.foodie.hub.GCM.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name="com.dishcuss.foodie.hub.GCM.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name="com.dishcuss.foodie.hub.GCM.RegistrationIntentService"
            android:exported="false"></service>


        <service android:name="com.dishcuss.foodie.hub.Services.MyService"/>

    </application>

</manifest>

<!--<activity android:name=".Activities.HomeActivityss"-->
<!--android:label="Add new friend"-->
<!--android:theme="@style/MyMaterialTheme" >-->